/* styles.css */

body {
    font-family: Courier New, monospace;
    color: #556b2f;
    background-color: #deb887;
    margin: 8px;
    padding: 10px; 
    display: block;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #8b0000;
    color: #fff;
}


main {
    padding: 20px;
}

#onlyskin {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

#timeasasymptom {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

#clamcrabcockle {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}


h2 {
    font-family: Georgia, serif;
    margin-bottom: 10px;
}


p {
    margin-bottom: 10px;
    padding: 20px;
    color:darkslateblue;
    background-color:silver; 
}


img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}


#special-section {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f0f0f0;
}

.important {
    font-weight: bold;
    color: #0f2b62;
    padding: 5px;
}

#mainHeading {
    color: red; 
}

/* Class Selector */
.funParagraph {
    color: green; /* Paragraph with class "funParagraph" will have green color */
}
